<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{title}}</title>
</head>
<body>
    <div class='container'>
        <div class="wrapper">
            <h1>Superior Creativity</h1>
            <p class='helpbox'>Thanks for checking us out. 
                <br />
                <br />
                Currently the status of this website is
                <br />
                <br />
                <br />
                <br />
                <a class='buble'>UNDER CONSTRUCTION</a>
                <br />
                </p>
        </div>
    </div>
</body>
</html>