body {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: futura;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #1d1c1c;
    background-image: url('https://images.unsplash.com/photo-1439539698758-ba2680ecadb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
   
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0,0,0,.8);
    height: inherit;
    text-align: center;
}

h1 {
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Plantagenet Cherokee;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-shadow: 0px 1px 5px rgba(0,0,0,.3);
    
}

h6 {
    font-family: futura;
    color: white;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 0px 1px 5px rgba(0,0,0,.8);
}

.buble {
    background-color: #2a2a2b;
    border-radius: 30px;
    padding: .2rem .5rem;
    border: 1px solid rgba(255, 255, 255, 0.0196078431372549);
}

p {
    margin: 0px;
    padding: 0px;
    color: white;
    text-transform: uppercase;
    font-size: .65rem;
    letter-spacing: .2rem;

}

.helpbox {
    background-color: #84848433;
    padding: 25px 50px;
    border-radius: 3px;
    border: 1px solid #8080801a;
}

@media (max-width:400px) {
    .helpbox {
        display: none;
    }
}